.footer {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    padding: 15px 0;
    font-family: "Inter", sans-serif;
    position: static; }
    .footer .footer-contenedor {
      display: flex;
      background-color: #f1f1f1;
      gap: 100px;
      padding: 0px 30px;
      margin: auto;
      max-width: 1700px; }
      .footer .footer-contenedor .footer-p {
        flex-grow: 1;
        flex-basis: 100%; }
        footer .footer-contenedor .footer-p p {
          padding-left: 1px;
          font-size: 14px; }
      .footer .footer-contenedor div {
        flex-grow: 1;
        flex-basis: 70%; }
        footer .footer-contenedor div h4 {
          padding-left: 2px;
          margin-bottom: 10px;
          background-color: #f1f1f1;
          color: #000000;
          font-size: 1rem;
          font-weight: 500;
          text-transform: capitalize; }
        .footer .footer-contenedor div ul {
          list-style: none; }
         .footer .footer-contenedor div ul li a {
            text-decoration: none;
            color: #161516;
            font-weight: 400;
            font-size: 1rem;
            transition: all 0.3s ease; }
            .footer .footer-contenedor div ul li a:hover {
              color: #161516;
              padding-left: 8px; }
    .footer .copyright {
      padding: 15px 0;
      text-align: center;
      border-top: 1px solid #161516;
      height: 2px; }